    body {
        margin: 0;
        padding: 2rem;
        background-color: #F5F5F5;
        font-family: monospace;
        font-size: 1rem;
    }

    .wrapper {
        height: 20rem;
        width: 20rem;
        display: grid;
        align-items: center;
        justify-content: center;
    }


    .icon {
        margin: 0 auto;
    }

    .button {
        margin-left: 30%;
        margin-right: 30%;
        width: 7rem;
        height: 3rem;
        border-radius: 1rem;
        background-color: green;
        font-size: 1rem;
        font-weight: bold;
        color: white;
    }
